* {
  box-sizing: border-box;
  color: #E4E5E6;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  text-transform: capitalize;
}

header {
  background-color: #004466;
  height: 200px;
  display: flex;
  padding: 1rem;
  position: relative;
  width: 100%;
}

body {
  background-color: #016699;
  font-size: 62.5%;
}

.header__section--username {
  color: #5bb7d4;
  font-size: .8rem;
  display: inline-flex;
  position: absolute;
  right: 2%;
  top: 2%;
}

.fa-caret-down,
.fa-user {
  margin: .4rem;
}

.fa-spider,
.fa-bookmark,
.fa-book-open {
  color: #000;
  margin: .5rem 1rem;
}

.header__section--a {
  height: 1.8rem;
}

nav {
  bottom: 0;
  display: inline-flex;
  font-size: 1rem;
  left: 0;
  margin: 1rem;
  position: absolute;
}

.header__navbar--icon {
  height: 2rem;
  margin: 0 .2rem 0 1.5rem;
  width: 2rem;
}

a:hover, focus {
  color: #ff2105;
  padding-top: 1rem;
}

.section__nav {
  margin: 1rem;
}

#header__section--logo {
  height: 75px;
  margin: 10px;
  position: absolute;
  right: 1rem;
  bottom: .5rem;
  width: 175px;
}

h1 {
  font-size: 28px;
  margin: 20px;
}

div {
  box-shadow: 5px 5px 5px 5px #004466;
  display: inline-block;
  flex-direction: row;
  height: 400px;
  margin: .5rem;
  position: relative;
  width: 250px;
}

.div__section--header-attach-number {
  font-size: 1.8rem;
}

.div__section--header-attach {
  font-size: 1rem;
}

.div__section-name {
  margin: .7rem;
}

.div__section--box {
  background-color: #5bb7d4;
  height: 50px;
  margin: 5% 10%;
  padding: 8px;
  width: 200px;
}

.section__p--link {
  color: #004466;
  font-size: .8rem;
  text-transform: lowercase;
}

#section-card-holder {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

.div__section-reads {
  font-size: .7rem;
  padding: 10px;
  text-align: right;
}

.div__section-count {
  font-size: 1.4rem;
  padding-right: 10px;
  text-align: right;
}

.body__div-background-card {
  /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));*/
  height: 10rem;
}

#body__div-background-box1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/spiderman.jpg");
  background-size: 125%;
  background-position: center;
}

#body__div-background-box2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/milesmorales.jpeg");
  background-size: 126%;
  background-position: center;
}

#body__div-background-box3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/spidergwen.jpeg");
  background-size: 108%;
  background-position: center;
}

#body__div-background-box4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/spiderpunk.jpg");
  background-size: 125%;
  background-position: center;
}