* {
  box-sizing: border-box;
  color: #E4E5E6;
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
}

header {
  background-color: #004466;
  height: 200px;
  display: flex;
  padding: 1rem;
  position: relative;
}

body {
  background-color: #016699;
}

.header__section--username {
  color: #5bb7d4;
  font-size: 1.3rem;
  display: inline-flex;
  position: absolute;
  right: 2%;
  top: 2%;
}

#header__section--p-username {
  font-size: 1.3rem;
  margin: 0 1rem;
}

.header__section--a {
  height: 1.8rem;
}

nav {
  bottom: 0;
  display: inline-flex;
  font-size: 1.6rem;
  left: 0;
  margin: 1rem;
  position: absolute;
}

.header__navbar--icon {
  height: 2rem;
  margin: 0 .2rem 0 1.5rem;
  width: 2rem;
}

a: hover, focus {
  color: #ff2105;
  padding-top: 1rem;
}

.section__nav {
  margin: 1rem;
}

#header__section--logo {
  height: 100px;
  margin: 10px;
  position: absolute;
  right: 1rem;
  bottom: .5rem;
  width: 275px;
}

div {
  box-shadow: 5px 5px 5px 5px #004466;
  flex: wrap;
  height: 500px;
  margin: 2rem;
  width: 350px;
}

.div__section--header-attach-number {
  font-size: 1.8rem;
}

.div__section--header-attach {
  font-size: 1rem;
}

.section__p--link {
  background-color: #5BB7D4;
  height: 5rem;
  margin: 2rem;
  width: 17rem;
}

.body__div-background-card {
  /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));*/
  height: 10rem;
}

#body__div-background-box1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/spiderman.jpg");
  background-size: 100%;
}

#body__div-background-box2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/milesmorales.jpeg");
  background-size: 100%;
}

#body__div-background-box3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/spidergwen.jpeg");
  background-size: 100%;
}

#body__div-background-box4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/spiderpunk.jpg");
  background-size: 100%;
}